<div class="container-fluid no-pad events-detail">
  <div class="row no-pad">
	<%= form_for(event) do |f| %>
	  <%= f.label :category_id %>
	  <%= f.select :category_id, options_from_collection_for_select(Category.all, "id", "name"), class: 'form-control' %>
	  
	  <%= f.label :starts_at %>
	  <%= f.text_field :starts_at, class: 'form-control' %>
	  
	  <%= f.label :ends_at %>
	  <%= f.text_field :ends_at, class: 'form-control' %>

	  <%= f.label :hero_image_url %>
	  <%= f.text_field :hero_image_url, class: 'form-control' %>

	  <%= f.label :name %>
	  <%= f.text_field :name, class: 'form-control' %>

	  <%= f.fields_for :venue do |v| %>
		  <%= v.label :name %>
		  <%= v.text_field :name, class: 'form-control' %>
		  
		  <%= v.label :full_address %>
		  <%= v.text_field :full_address, class: 'form-control' %>

		  <%= v.label :region %>
		  <%= v.select :region_id, options_from_collection_for_select(Region.all, "id", "name"), class: 'form-control' %>
	  <% end %>

	  <%= submit_tag "Create", class: 'btn btn-primary' %>
	<%end%>
  </div>

 </div>