<div class="container">
	<div class="row">
		<div class="col-md-11 col-md-offset-1">  
			<table class="table">
				<th> Ticket Type </th>
				<th> Unit Price </th>
				<th> Max quantity </th>

				<% @event.ticket_types.each do |type| %>
				<tr>
					<td> <%= type.name %> </td>
					<td> <%= number_to_currency(type.price, unit: 'VND ', precision: 0) %> </td>
					<td> <%= type.max_quantity %></td> 
					<td> <%= link_to "Delete", event_ticket_path(@event, type), method: 'delete', class: 'btn btn-danger' %> </td>
				</tr>
				<% end %> 
				<tr>
					<%= form_for [@event, @ticket], url: event_tickets_path do |f| %>
					<% if @ticket.errors.any? %>
					<div id="error_explanation">
					<h2><%= pluralize(article.errors.count, "error") %> prohibited this titcket from being saved:</h2>

						<ul>
							<% @ticket.errors.full_messages.each do |message| %>
							<li><%= message %></li>
							<% end %>
						</ul>
					</div>
					<% end %>
					<td> <%= f.text_field :name %> </td>
					<td> <%= f.text_field :price, class: "form-control" %> </td>
					<td> <%= f.text_field :max_quantity, class: "form-control" %></td> 
					<td> <%= f.submit "Add Ticket Type", class: 'btn btn-primary'%> </td>
					<%end%>
				</tr>

			</table>
		</div>
	</div>
</div>


